DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=dashboard_pertanahan
DB_USER=app_user
DB_PASS=

KKP_MODE=mock
KKP_API_BASE_URL=https://example.com
KKP_METRICS_ENDPOINT=/v1/pertanahan/metrics
KKP_API_BEARER_TOKEN=

APP_ENV=development
